<div id="footer_wrap" class="outer">
    <footer class="inner">
      <form action="mailto:schuy+net@reno-visions.com?body=Contact%20Us&subject=Hi%20Sky%2C">
        <fieldset>
          <input type="submit" value="Send us an Email">
        </fieldset>
      </form>
      {% if site.github.is_project_page %}
      <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
      {% endif %}
      <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
    </footer>
  </div>