<div id="footer_wrap" class="outer">
  <footer class="container-full" style="padding: 25px;">
    <!-- Left -->
    <div class="row">
      <div class="col-3 mx-auto justify-content-center align-items-left" style="opacity: 0.6">
        <br />
        <p style="text-align: left;"><a href="/contact">Contact Us</a></p>
        <p style="text-align: left;"><strong>Location:</strong> Calgary, AB
        <br /><strong>Hours:</strong> by appointment only</p>
        <p class="break"></p>
      </div>
      <!-- Middle -->
      <div class="col-6 mx-auto justify-content-center align-items-center">
        <form action="mailto:schuy+net@reno-visions.com?body=Contact%20Us&subject=Hi%20Sky%2C">
          <fieldset>
            <br />
            <input type="submit" value="Send us an Email">
          </fieldset>
        </form>
      </div>
      <!-- Right -->
      <div class="col-3 mx-auto justify-content-center align-items-right" style="opacity: 0.6;">
        <br />
        <p style="text-align: right;"><a href="/sitemap.xml">Site Map</a></p>
        <p style="text-align: right;">Maintained by <a href="https://www.github.com/schuyh/">Schuy H</a></a>
        <br />Published with <a href="https://pages.github.com">GitHub Pages</p>
        <p class="break"></p>
      </div>
    </div>
  </footer>
</div>